[Unit]
Description=E-Commerce Chatbot FastAPI Application
After=network.target postgresql.service

[Service]
User=ubuntu
Group=ubuntu

WorkingDirectory=/home/ubuntu/app/src
Environment="PATH=/home/ubuntu/app/venv/bin"

ExecStart=/home/ubuntu/app/venv/bin/gunicorn \
    --workers 1 \
    --worker-class uvicorn.workers.UvicornWorker \
    --bind 127.0.0.1:8000 \
    --timeout 120 \
    ecommerce_chatbot.backend_routes.main:fast_app

Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
